
.pagination {
	background: none;
}

.prizn label {
	float: left;
}
.prizn {
	clear: both;
}

ul.errors {	
	padding: 5px 0px 5px 5px;
	color: red;	
	clear: both;
}
ul.errors li {
	background: none;
	padding: 0px;
	
}

.form .bg {
	height: auto;	
}
.capcha {
	background: none;
}
.captcha img {
	float: left;
	
}

.portfolio_types a.active {
	color: #676465;
	text-decoration: none;	
}

.pagination a {
	float: left;
	text-decoration: none;
}

.page {	background:url(/img/pager_blue/page.png) no-repeat;	
	width: 24px;
	height: 24px;
	text-align: center;
	padding-top: 4px;	
	color: white;
}

.page_active {
	background:url(/img/pager_blue/page_active.png) no-repeat;	
	width: 24px;
	height: 24px;
	text-align: center;
	padding-top: 4px;
	margin-right: 5px;
	color: blue;
	float: left;
}

.disabled{
   margin-right: 5px;
	float: left;
}

.pager_total{
	float:left;
	color:blue;
	padding-top: 4px;
}
.photo {
    width: auto;
    float: left;
}

.photo_teaser_news {
    width: auto;
    float: left;
    margin: 0 11px 4px;
}

.cont_inner p {
    padding-bottom: 0px;
    padding-left: 10px;	
	
}	
